.zxc{
    color: red;
}

.main-footer {
    position: relative;
}

.bg-color-1 {
    background: #534293;
}

.auto-container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
}

.footer-top {
    position: relative;
    padding: 50px 0px 50px 0px;
}
.footer-widget {
    position: relative;
}
.footer-top .about-widget {
    margin-right: 50px;
}
.footer-top .footer-widget .widget-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
}

.footer-top .footer-widget .widget-title h3 {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
.footer-top .about-widget .text {
    margin-bottom: 24px;
}
.footer-top .about-widget .text p {
    font-size: 17px;
    line-height: 28px;
    color: black;
    font-weight: 500;
    margin-bottom: 15px;
}
.footer-top .about-widget .text p i {
    position: relative;
    display: inline-block;
    font-size: 14px;
    transform: rotate(20deg);
}
.footer-widget ul {
    position: relative;
}
.footer-top .about-widget .social-links li, .footer-top .contact-widget .info-box li {
    width: auto;
    float: none !important;
    margin-bottom: 0px !important;
}
.footer-top .about-widget .social-links li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.footer-widget {
    position: relative;
}
.footer-top .footer-widget .widget-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
}
.footer-top .footer-widget .widget-title h3 {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
.footer-widget ul {
    position: relative;
}
.footer-widget ul li {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 15px;
    color: #ae979f;
}
.footer-widget ul li a {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    color: black;
    font-weight: 500;
}
.footer-top .contact-widget .single-info-box {
    position: relative;
    display: block;
    margin-bottom: 36px;
}
.footer-top .footer-widget .widget-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
}
.footer-top .footer-widget .widget-title h3 {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
.footer-widget ul {
    position: relative;
}
.footer-top .about-widget .social-links li, .footer-top .contact-widget .info-box li {
    width: auto;
    float: none !important;
    margin-bottom: 0px !important;
}
.footer-top .contact-widget .info-box li {
    position: relative;
    display: block;
}
.footer-top .contact-widget .info-box li a {
    position: relative;
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    color: black;
    font-weight: 500;
}
.clearfix::after {
    display: block;
    clear: both;
    content: "";
}
.footer-top .contact-widget .single-info-box:last-child {
    margin-bottom: 0px;
}
.footer-top .contact-widget .single-info-box {
    position: relative;
    display: block;
    margin-bottom: 36px;
}
.footer-top .footer-widget .widget-title {
    position: relative;
    display: block;
    margin-bottom: 25px;
}
.footer-top .footer-widget .widget-title h3 {
    position: relative;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
.footer-top .about-widget .social-links li, .footer-top .contact-widget .info-box li {
    width: auto;
    float: none !important;
    margin-bottom: 0px !important;
}
.footer-top .contact-widget .info-box li {
    position: relative;
    display: block;
}

.footer-widget ul li {
    position: relative;
    display: block;
    width: 50%;
    float: left;
    margin-bottom: 15px;
    color: #ae979f;
}
.main-footer .footer-subscribe {
    position: relative;
    display: block;
}
.main-footer .footer-subscribe .text {
    margin-bottom: 15px;
}
.centred {
    text-align: center;
}
.main-footer .footer-subscribe h3 {
    position: relative;
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #fff;
    font-weight: 700;
}
input {
    transition: all 500ms ease;
}
input, button, select, textarea {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #555;
}
.footer-bottom {
    position: relative;
    padding: 32px 0px;
}
.pull-left {
    float: left;
}
.footer-bottom .copyright p {
    font-size: 17px;
    line-height: 28px;
    color: black;
    font-weight: 500;
}
.footer-bottom .copyright p a {
    color: #ae979f;
}
.pull-right {
    float: right;
}
.footer-bottom .footer-nav li {
    position: relative;
    display: inline-block;
    margin-right: 15px;
}
.footer-bottom .footer-nav li a {
    display: inline-block;
    font-size: 17px;
    line-height: 28px;
    color: black;
    font-weight: 500;
}
* {
    margin: 0px;
    padding: 0px;
    border: none;
    outline: none;
}
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}
input, button, select, textarea {
    font-family: 'Muli', sans-serif;
    font-weight: 400;
    font-size: 15px;
    color: #555;
}
.main-footer .footer-subscribe .subscribe-form .form-group input[type='email'] {
    position: relative;
    display: block;
    width: 100%;
    height: 54px;
    border-bottom: 1px solid rgba(255,255,255,0.1);
    padding: 10px 0px;
    padding-right: 160px;
    font-size: 17px;
    color: black;
    font-weight: 500;
    background: transparent;
    transition: all 500ms ease;
}
.main-footer .footer-subscribe .subscribe-form .form-group button {
    position: absolute;
    top: 55px;
    right: 0px;
    font-size: 14px;
    line-height: 24px;
    font-family: 'Nunito Sans', sans-serif;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
    background: transparent;
    cursor: pointer;
    transition: all 500ms ease;
}
.main-footer .footer-subscribe .subscribe-form .form-group button i {
    position: relative;
    font-size: 30px;
    top: 5px;
    margin-right: 10px;
    font-weight: 400;
}
label {
    display: inline-block;
    margin-bottom: 0.5rem;
}

footer.main-footer.bg-color-1{
    background-image: url(http://www.el.commonsupport.com/newwp/eazyrecruitz/wp-content/uploads/2020/09/pattern-11.png);
    left: 0px;
    top: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    background-size: cover;
    background-repeat: repeat-x;
    background-position: center;
    animation: slide 100s linear infinite;
    -webkit-animation: slide 100s linear infinite;
}

@keyframes slide{
    from { background-position: 0 0; }
      to { background-position: 1920px 0; }
  }
  
  @-webkit-keyframes slide{
    from { background-position: 0 0; }
      to { background-position: 1920px 0; }
  }





