     /* Media Query for Mobile Devices */
     @media (max-width: 1280px) {
        .pad-120 {
            padding: 0px !important;
        }
    }


      /* Media Query for Mobile Devices */
      @media (max-width: 1280px) {
        .left {
            float: unset !important;
            display: unset !important;
        }
    }

     /* Media Query for Mobile Devices */
     @media (max-width: 1280px) {
        .insecfnaew {
            font-size: 45px  !important;
 
        }
    }


     /* Media Query for Mobile Devices */
     @media (max-width: 1280px) {
        div#About {
            padding-bottom: 6% !important;
            padding-top: 20% !important;
        }
    }

       /* Media Query for Mobile Devices */
       @media (max-width: 1280px) {
        a.btn-recap svg {
 
            position: unset !important;
 
        }
    }


      /* Media Query for Mobile Devices */
      @media (max-width: 1280px) {
        a.btn-recap {
            height: auto !important;
        }
    }

      /* Media Query for Mobile Devices */
      @media (max-width: 1280px) {
        p {
            font-size: 1.4em !important;
            line-height: 1.4em !important;
        }
    }

      /* Media Query for Mobile Devices */
      @media (max-width: 1280px) {
        .page-hero-wrap h5 {
            font-size: 18px !important;
            top: 55px !important;
        }
    }


       /* Media Query for Mobile Devices */
       @media (max-width: 1280px) {
        .circles-blue {
            bottom: 54% !important;
        }
    }


     /* Media Query for Mobile Devices */
     @media (max-width: 1280px) {
        .hero-content h4 {
            padding-bottom: 4% !important;
            margin-top: 7% !important;
            font-size: 20px !important;
        }
    }

        /* Media Query for Mobile Devices */
        @media (max-width: 1280px) {
            h2.titles {
                font-size: 2em !important;
            }
        }


           /* Media Query for Mobile Devices */
           @media (max-width: 1280px) {
            a.btn-recap {
               width: 100% !important;
            }
        }


               /* Media Query for Mobile Devices */
               @media (max-width: 1280px) {
                .section {
                  padding: 12px !important;
                }
            }

                   /* Media Query for Mobile Devices */
                   @media (max-width: 1280px) {
                    a.button {
                        padding: 14px 0px !important;
                        width: 242px !important;
                    }
                }


                        /* Media Query for Mobile Devices */
                        @media (max-width: 1280px) {
                            h2.knockout26.white.banner_head.fontawe.fontscrt.hetitlesc {
                                font-size: 30px !important;
                            }
                        }

                              /* Media Query for Mobile Devices */
                              @media (max-width: 1280px) {
                                h3.knockout53.caps {
                                    font-size: 16px !important;
                                }
                            }


                                   /* Media Query for Mobile Devices */
                                   @media (max-width: 1280px) {
                                    a.flex-work.popup-video.btn-recap.marg-t-60.relative.z-2 {
                                        padding-left: 0px !important;
                                    }
                                }


                                   /* Media Query for Mobile Devices */
                                   @media (max-width: 1280px) {
                                    h2.titlesyop {
                                        font-size: 46px !important;
                                        margin-top: -21px !important;
                                    }
                                }

                                       /* Media Query for Mobile Devices */
                                       @media (max-width: 1280px) {
                                        .mrgin-top{
                                            margin-top: 0px !important; 
                                        }
                                    }


                                          /* Media Query for Mobile Devices */
                                          @media (max-width: 1280px) {
                                            .expe_card_main h1{
                                                font-size: 2rem !important;
                                            }
                                        }


                                            /* Media Query for Mobile Devices */
                                            @media (max-width: 1280px) {
                                                .container-fluid.bg-white.iops {
                                                padding: 0 !important;
                                                }
                                            }

                                               /* Media Query for Mobile Devices */
                                               @media (max-width: 1280px) {
                                                h3.srngtxt strong {
                                                    font-size: 28px !important ;
                                                }
                                            }



                                             /* Media Query for Mobile Devices */
                                             @media (max-width: 1280px) {
                                                .card-box{
                                                    margin-top: 34px !important;
                                                }
                                            }

                                                   /* Media Query for Mobile Devices */
                                                   @media (max-width: 1280px) {
                                                    h2.number.knockout26.teal.count {
                                                        font-size: 98px;
                                                    }
                                                }


                                                        /* Media Query for Mobile Devices */
                                                        @media (max-width: 1280px) {
                                                            .img-sets {
                                                                margin-top: 35px !important;
                                                            }
                                                        }

           /* Media Query for Mobile Devices */
           @media (max-width: 1280px) {
            #img-rel-top {
                position: unset !important;
            }
        }

          /* Media Query for Mobile Devices */
          @media (max-width: 1280px) {
            h2.titles.medium.white.caps.relative {
                padding: 0 !important;
                margin-top: 67px !important;
            }
        }


            /* Media Query for Mobile Devices */
            @media (max-width: 1280px) {
                h2.titles.medium.blue.marg-b-120.pop_up.mt-0 {
                    margin-top: 12% !important;
                }
            }


              /* Media Query for Mobile Devices */
              @media (max-width: 1280px) {
                p.mrytop {
                    margin-top: 34% !important;
                }
            }


              /* Media Query for Mobile Devices */
              @media (max-width: 1280px) {
                img.img-height-tp {
                    height: 95% !important;
                }
            }


            
              /* Media Query for Mobile Devices */
              @media (max-width: 1280px) {
                img.cntxyu {
                    position: unset !important;
                }
            }
        
                /* Media Query for Mobile Devices */
                @media (max-width: 1280px) {
                    p.mrytop {
                        margin-top: 57px !important;
                    }
                }


                     /* Media Query for Mobile Devices */
                     @media (max-width: 1280px) {
                        p.teal.end-px {
                            margin-top: 38% !important;
                        }
                    }


                         /* Media Query for Mobile Devices */
                         @media (max-width: 1280px) {
                            p.mrytop {
                                margin-top: 35% !important;
                            }
                        }


                              /* Media Query for Mobile Devices */
                              @media (max-width: 1280px) {
                                a.button.last.kit_btn {
                                    margin-top: 8px !important;
                                }
                            }


                                /* Media Query for Mobile Devices */
                                @media (max-width: 1280px) {
                                    p.mrytop.cwfa {
                                        margin-top: 56px !important;
                                    }
                                }


                                    /* Media Query for Mobile Devices */
                                    @media (max-width: 1280px) {
                                        a.popup-video.btn-recap.marg-t-60.relative.z-2.fade.fadeOut.ui {
                                            display: table-caption !important;
                                        }
                                    }


                                                /* Media Query for Mobile Devices */
                                                @media (max-width: 1280px) {
                                                    .container-fluid.bg-white.p-0.iops {
                                                        padding-left: 0px !important;
                                                        padding-bottom: 0px !important;
                                                    }
                                                }

              /* Media Query for Mobile Devices */
              @media (max-width: 1280px) {
                .container-fluid.fot-back-fill {
                    margin: 0 !important;
                }
            }


                /* Media Query for Mobile Devices */
                @media (max-width: 1280px) {
                    ul.footer-links {
                        text-align: center !important;
                        padding-left: 0 !important;
                    }
                }

                 /* Media Query for Mobile Devices */
                 @media (max-width: 1280px) {
                    .footer-content.proxima {
                        text-align: center !important;
                    }
                }


                        /* Media Query for Mobile Devices */
                        @media (max-width: 1280px) {
                            #header {
                                padding: 11px 24px 6px 24px !important;
                            }
                        }

 

                            /* Media Query for Mobile Devices */
                            @media (max-width: 1280px) {
                                .overlay a {
                                    font-size: 21px !important;
                                }
                            }

                                    /* Media Query for Mobile Devices */
                                    @media (max-width: 1280px) {
                                        .imglogohead {
                                            width: 100% !important;
                                        }
                                    }



                                                    /* Media Query for Mobile Devices */
                                                    @media (max-width: 1280px) {
                                                        .overlay-content.youzx {
                                                            margin-top: 63%;
                                                        }
                                                    }


         /* Media Query for Mobile Devices */
         @media (max-width: 1280px) {
            .linksall {
                margin-top: 6% !important;
            }
        }

             /* Media Query for Mobile Devices */
             @media (max-width: 1280px) {
                .webinarszxc {
                    margin-top: 20px !important;
                }
            }
            
                /* Media Query for Mobile Devices */
             @media (max-width: 1280px) {
               .prdnx {
    padding-bottom: 0 !important;
    padding-left: 6px !important;
}
            }


                   /* Media Query for Mobile Devices */
                   @media (max-width: 1280px) {
                    .log-img-tp {
                        width: 59% !important;
                    }
                }


                
                   /* Media Query for Mobile Devices */
                   @media (max-width: 1280px) {
                    h2#abtzxc {
                        margin-top: 15% !important;
                    }
                }

                       /* Media Query for Mobile Devices */
                       @media (max-width: 1280px) {
                        a.btn-recap {
                            padding: 0 !important;
                         }
                    }
    
                      /* Media Query for Mobile Devices */
                      @media (max-width: 1280px) {
                        a.button.covid.red.outline.white {
                            font-size: 10px !important;
                            padding: 9px !important;
                            left: 2px !important;
                            bottom: 13px !important;
                        }
                    }


                       /* Media Query for Mobile Devices */
                       @media (max-width: 1280px) {
                        .drift-widget-controller {
                            bottom: 70px !important;
                        }
                    }


                    